@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@layer utilities {
	@keyframes hide {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	@keyframes slide-down-fade {
		from {
			opacity: 0;
			transform: translateY(-6px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes slide-up-fade {
		from {
			opacity: 0;
			transform: translateY(6px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes slide-left-fade {
		from {
			opacity: 0;
			transform: translateX(6px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes slide-right-fade {
		from {
			opacity: 0;
			transform: translateX(-6px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes accordion-open {
		from {
			height: 0px;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-close {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0px;
		}
	}

	@keyframes dialog-overlay-show {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes dialog-content-show {
		from {
			opacity: 0;
			transform: translate(-50%, -45%) scale(0.95);
		}
		to {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}

	@keyframes drawer-slide-left-fade {
		from {
			opacity: 0;
			transform: translateX(100%);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes drawer-slide-right-fade {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(100%);
		}
	}
}

/* #region  /**=========== Scrollbar =========== */

@media screen and (min-width: 768px) {
	::-webkit-scrollbar,
	.scrollbar ::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-track,
	.scrollbar ::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	}
	::-webkit-scrollbar-thumb,
	.scrollbar ::-webkit-scrollbar-thumb {
		background: #c0c0c0;
		opacity: 0.5;
	}
	::-webkit-scrollbar-thumb:hover,
	::-webkit-scrollbar-thumb:active,
	.scrollbar ::-webkit-scrollbar-thumb:hover,
	.scrollbar ::-webkit-scrollbar-thumb:active {
		background: #a7a7a7;
	}
}

/* Firefox */
html,
.scrollbar {
	scrollbar-width: thin;
}

/* Hide Scrollbar */
.scrollbar-none::-webkit-scrollbar {
	/* WebKit: Chrome, Safari */
	display: none;
}

.scrollbar-none {
	/* IE 10+ */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;
}
/* #endregion  /**======== Scrollbar =========== */
